<div class="row">
    <div class="col col-4 batman" >
		<div>
		<%= form_tag(pages_batman_path, method: :get) do %>
			<%= label_tag :query, "Batman" %>
				
			<% end -%>
		</div>	
	</div>

    <div class="col col-4 superman">
        <div>
		<%= form_tag(pages_Superman_path, method: :get) do %>
			<%= label_tag :query, "Superman" %>
				
			<% end -%>
		</div>	
    </div>
</div>

